<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="com.zhaotianyue.cms.mapper.ArticleMapper">
  <resultMap type="com.zhaotianyue.cms.entity.Article" id="ArticleMap">
   <result property="channel_id" column="channel_id" />
   <result property="category_id" column="category_id" />
   <result property="user_id" column="user_id" />
  	<association property="channel" column="channel_id" javaType="com.zhaotianyue.cms.entity.Channel" 
		   select="findChannel"></association>
	<association property="category" column="category_id" javaType="com.zhaotianyue.cms.entity.Category" 
	   select="findCatigory"></association>
	<association property="user" column="user_id" javaType="com.zhaotianyue.cms.entity.User" 
	   select="findUser"></association>
  </resultMap>
  <select id="listByUser" resultMap="ArticleMap">
		SELECT id,title,channel_id,category_id , created,status,picture 
		  FROM cms_article
		  WHERE user_id = #{value} AND deleted=0
		  ORDER BY id DESC  
	</select>
	<select id="list" resultMap="ArticleMap">
		SELECT id,title,channel_id,category_id ,user_id, created,status,picture
		  FROM cms_article
		  WHERE  deleted=0
		  <if test="value!=-1">
		  	and status = #{value} 
		  </if>
		  ORDER BY id DESC  
		  
	</select>
	<select id="getArticles" resultMap="ArticleMap">
		SELECT id,title,channel_id,category_id ,user_id, created,picture
		  FROM cms_article
		  WHERE status = 1 AND deleted=0
		  	AND channel_id=#{channelId}
		  <if test="catId!=0">
		  	AND category_id=#{catId}
		  </if>   
		  ORDER BY id DESC 
    </select>
	<!-- 获取热门文章 -->
	<select id="hostList" resultMap="ArticleMap">
		SELECT id,title,channel_id,category_id ,user_id, created,picture
		  FROM cms_article
		  WHERE status = 1 AND deleted=0
		         AND hot = 1 
		  ORDER BY id DESC 
    </select>
	<!-- 最新文章 -->
	<select id="lastList" resultMap="ArticleMap">
		SELECT id,title,channel_id,category_id ,user_id, created,picture
		  FROM cms_article
		  WHERE status = 1 AND deleted=0
		  ORDER BY id DESC 
		  LIMIT #{value} 
    </select>
	<!-- 获取频道 -->
	<select id="findChannel" resultType="channel">
		SELECT id,name FROM cms_channel WHERE id=#{value}
	</select>
	
	<!-- 获取分类 -->
	<select id="findCatigory" resultType="category">
		SELECT id,name FROM cms_category WHERE id=#{value}
	</select>
	<select id="findUser" resultType="user">
		SELECT * FROM cms_user WHERE id=#{value}
	</select>
	
	<select id="getById" resultMap="ArticleMap">
		SELECT * FROM cms_article WHERE id=#{value} AND deleted=0
	</select>
	<resultMap type="complain" id="ComplainMapper">
		<result column="article_id" property="articleId"/>
		<result column="complain_type" property="complainType"/>
		<result column="src_url" property="srcUrl"/>
		<result column="compain_option" property="compainOption"/>
		<result column="user_id" property="userId"/>
		<association column="user_id" property="user" 
			javaType="com.zhaotianyue.cms.entity.User"
			select="findUser"
		/>
	</resultMap>
	<select id="getComplains" resultMap="ComplainMapper">
		SELECT * FROM cms_complain where article_id=#{value}
	</select>
  </mapper>